/* No margin was set to maintain it reusable in any case */

.button {
   background-color: #7fff00;
   height: 40px;
   padding: 0 10px;
   border-radius: 5px;
   min-width: 100px;
   width: 100%;
   font-size: 1rem;
   color: #444;
   font-weight: 600;
   cursor: pointer;
   transition: .6s;

   &:hover {
      opacity: .6;
   }
}